<div class="container-fluid bg-light">
    <div class="container mt-4">
        <div class="card bg-warning">
            <div class="card-body ">
                <h1 class="card-title">To-Do Application</h1>
                <hr>

                <!-- "Add Task" Card -->
                <div class="card mb-4 bg-info">
                    <div class="card-body text-white">
                        <h5 class="card-title">Add Task</h5>
                        <hr>

                        <!-- Task Form -->
                        <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
                            <div class="form-group">
                                <label for="task">Task</label>
                                <input type="text" class="form-control" id="task" placeholder="Enter task" ngModel name="task" required>
                                <small *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage" class="form-text text-danger">Required field</small>
                            </div>

                            <button [disabled]="taskForm.invalid" id="submitButton" type="submit" class="btn btn-primary">Add Task</button>
                        </form>
                    </div>
                </div>

                <!-- "Task List" Card -->
                <div class="card bg-success">
                    <div class="card-body text-white">
                        <h5 class="card-title">Task List</h5>
                        <hr>

                        <!-- Task List -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Task</th>
                                    <th scope="col">Completed</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let t of taskArray; index as i">
                                    <td>{{ t.taskName }}</td>
                                    <td><input (change)="onCheck(i)" id="myCheckbox{{i}}" type="checkbox" class="form-check-input"></td>
                                    <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
